@import 'tailwindcss';
@import 'tailwindcss/utilities';

/* Fonts */
@import '@fontsource/poppins/500.css'; /* medium */
@import '@fontsource/poppins/600.css'; /* semibold */
@import '@fontsource/poppins/700.css'; /* bold */

@theme {
  /* disable default theme from tailwind */
  --*: initial;
}

@layer base {
  html {
    @apply antialiased;
    text-rendering: optimizeLegibility;
  }
}
